@import "normalize"
@import "font"

$fondo = #101010

a
  color rgb(161, 133, 0)
  text-decoration none
  font-weight 600

.margin-r5
  margin-right .5rem

.header
  background-color $fondo
  display flex
  align-items center
  justify-content center

  img
    width 170px
    height 170px

.main
  display flex
  font-family "Raleway", "Arial"

  @media only screen and (min-width:200px) and (max-width : 699px)
    flex-direction column

  &__left
    width 66%

    @media only screen and (min-width:200px) and (max-width : 699px)
      width 100%

  &__right
    background-color darken(#fff, 5%)
    width 34%
    padding-left .5rem
    display flex
    flex-direction column
    //justify-content space-between
    position relative

    @media only screen and (min-width:200px) and (max-width : 699px)
      width 100%
      padding-left 0

    div
      margin-bottom 2rem

    .visitanos
      text-align center
      text-transform uppercase
      font-size 1.5rem

      @media only screen and (min-width:700px) and (max-width : 1300px)
        font-size 1rem


      h2
        font-size 3rem

        @media only screen and (min-width:700px) and (max-width : 1300px)
          font-size 2rem

    .coming-soon
      text-transform uppercase
      font-weight 700
      text-decoration underline
      font-size 2rem
      text-align center
      margin-bottom 2rem

      @media only screen and (min-width:700px) and (max-width : 1300px)
        font-size 1.2rem

    .numero
      font-weight 700
      font-size 1.2rem
      text-align center
      background-color $fondo
      padding .8rem
      color white
      max-width 300px
      margin 0 auto

      @media only screen and (min-width:700px) and (max-width : 1300px)
        font-size 1rem
        padding .3rem

    .trabajo
      max-width 500px
      font-size 1.2rem
      margin 0 auto
      text-align center
      margin-top 1rem
      margin-bottom 1rem

      @media only screen and (min-width:750px) and (max-width : 1300px)
        font-size 1rem

    .direccion
      font-weight 700
      max-width 500px
      margin 0 auto
      font-size 1.2rem

      @media only screen and (min-width:750px) and (max-width : 1300px)
        font-size 1rem


.map-responsive
  margin-bottom 0px !important

@media only screen and (min-width:200px) and (max-width : 699px)
  .map-responsive
    padding-bottom 56.25%
    overflow hidden
    position relative
    height 0

  .map-responsive iframe
    left 0
    top 0
    height 100%
    width 100%
    position absolute


.footer
  font-family "Raleway", "Arial", sans-serif
  display flex
  background-color $fondo
  color white
  align-items center
  align-content center
  justify-content space-between
  padding-left 1rem
  padding-right 1rem

  @media only screen and (min-width:200px) and (max-width : 699px)
    flex-direction column

  &__copy
    font-weight 300

    @media only screen and (min-width:200px) and (max-width : 699px)
      text-align center

  &__social
    a
      font-size 1.5rem
      margin-right 1rem

// SLIDER
.flexslider
  border none !important
  width 100%
  max-height 100%
  margin 0px !important


.flexslider .slides img
  width 100%
  max-height 100%


//BOTONES
.link-button
  background-color #2D882D
  border-radius 5px
  padding 1rem
  color white
  box-shadow inset 0 -0.2em rgba(0,0,0,.3)
  transition 1s

  &:hover
    background-color darken(#2D882D, 20%)
