@import "normalize"
@import "font"

$fondo = #101010

a
  color rgb(161, 133, 0)
  text-decoration none
  font-weight 600

.margin-r5
  margin-right .5rem

.header
  background-color $fondo
  display flex
  align-items center
  justify-content center

  img
    width 170px
    height 170px


.main
  display flex
  font-family "Raleway", "Arial"

  @media only screen and (min-width:200px) and (max-width : 699px)
    flex-direction column

  &__left
    width 66%

    @media only screen and (min-width:200px) and (max-width : 699px)
      width 100%

  &__right
    background-color darken(#fff, 5%)
    width 34%
    padding-left .5rem
    display flex
    flex-direction column
    justify-content space-between

    @media only screen and (min-width:200px) and (max-width : 699px)
      width 100%

    .visitanos
      text-align center
      text-transform uppercase
      font-size 1.5rem

      @media only screen and (min-width:700px) and (max-width : 1300px)
        font-size 1rem


      h2
        font-size 3rem

        @media only screen and (min-width:700px) and (max-width : 1300px)
          font-size 2rem

    .coming-soon
      text-transform uppercase
      font-weight 700
      text-decoration underline
      font-size 2rem
      text-align center
      margin-bottom 1rem

      @media only screen and (min-width:700px) and (max-width : 1300px)
        font-size 1.2rem

    .numero
      font-weight 700
      font-size 1.2rem
      text-align center
      background-color $fondo
      padding .8rem
      color white
      max-width 300px
      margin 0 auto

      @media only screen and (min-width:700px) and (max-width : 1300px)
        font-size 1rem
        padding .3rem

    .trabajo
      max-width 500px
      font-size 1.2rem
      margin 0 auto
      text-align center

      @media only screen and (min-width:750px) and (max-width : 1300px)
        font-size 1rem

    .direccion
      font-weight 700
      max-width 410px
      margin 0 auto
      font-size 1.2rem

      @media only screen and (min-width:750px) and (max-width : 1300px)
        font-size 1rem


.footer
  font-family "Raleway", "Arial", sans-serif
  display flex
  background-color $fondo
  color white
  align-items center
  align-content center
  justify-content space-between
  padding-left 1rem
  padding-right 1rem

  &__copy
    font-weight 300

// SLIDER
.flexslider
  border none !important
  width 100%
  max-height 100%
  margin 0px !important


.flexslider .slides img
  width 100%
  max-height 100%
